<div class="container mt-5">
    <mat-card class="shadow-lg p-4">
        <mat-card-title class="mb-3 text-center">Sign Up</mat-card-title>

        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="isFieldInvalid('name')">Name is required (min 3 characters)</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="isFieldInvalid('email')">Valid email is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="isFieldInvalid('password')">Password must be at least 6 characters</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="isFieldInvalid('confirmPassword')">Please confirm your password</mat-error>
            </mat-form-field>

            <div class="d-flex justify-content-between">
                <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
            </div>
        </form>

        <div class="mt-4 text-center">
            <p>Already have an account?
                <a routerLink="/login" class="text-primary">Login</a>
            </p>
        </div>

    </mat-card>
</div>